.rabbit {
    color:green;
    font-family: cursive;
    background-color: whitesmoke;
    border-radius: 100em;
    font-size: 30px;
}
.duck {
    color:orange;
    font-family: 'Times New Roman';
    background-color: whitesmoke;
    border-radius: 100em;
    font-size: 30px;
}
#hunter {
    background-color: rgba(137, 43, 226, 0.555);
    padding: 5%;
    margin: 20px auto;
    border: 5px solid purple;
    border-radius: 1em;
    width: 200px;
}

.item{
    width: 30px;
    height: 30px;
    font-size: 12px;
}
.bagItem{
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: 14px;
}
#bag {
    background-color: wheat;
}

.lights {
    width: 200px;
    height: 200px;
    border: solid black 3px;
    margin: 12%;
    border-radius: 200em;
}

.greenLightOn {
    background-color: rgb(72, 255, 0);
}
.yellowLightOn {
    background-color: yellow;
}
.redLightOn {
    background-color: red;
}

.lightOff {
    background-color: rgb(44, 44, 44);
}

/* style one */

    .main-Dark{
        color: rgb(243, 243, 243);
        background-color: rgb(33, 34, 39);
        font-family: 'Times New Roman', Times, serif;
    }
    .tittle-Dark {
        color: rgb(254, 231, 255);
        text-align: center;
    }


        .textBox-Dark {
            background-color: rgb(149, 16, 167);
            color: black;
            padding: 2%;
            margin: 15px auto;
            border: 5px solid rgb(96, 31, 116);
            border-radius: 3em;
            width: 80%;
        }
        .textBoxTittle-Dark {
            color: white;
            font-size: 30px;
        }
        .textBoxText-Dark {
            color: white;
            font-size: 18px;
            text-align: center;
        }
        .closeButton-Dark {
            border: 3px solid rgb(96, 31, 116);
            height: 90px;
            width: 60px;
            font-size: 80px;
            text-align: center;
            margin-left: 80%;
            background-color: rgb(125, 19, 139);
        }

        
            .sampleBox-Dark {
                background-color: white;
                color: black;
                padding: 2px;
                border: 8px solid black;
                border-radius: 5em;
                width: 75%;
                text-align: center;
            }

                .numberBox-Dark {
                    background-color: rgba(137, 43, 226, 0.555);
                    padding: 5%;
                    margin: 20px auto;
                    border: 5px solid purple;
                    border-radius: 1em;
                    width: 200px;
                    font-size: 60px;
                }



/* style two */
    .main-Light {
        color: rgb(18, 11, 54);
        background-color: rgb(241, 250, 255);
        font-family: 'Times New Roman', Times, serif;
    }
    .tittle-Light {
        color: rgb(30, 30, 54);
        text-align: center;
    }


        .textBox-Light {
            background-color: rgb(190, 219, 228);
            color: black;
            padding: 2%;
            margin: 15px auto;
            border: 5px solid rgb(125, 123, 190);
            border-radius: 3em;
            width: 80%;
        }
        .textBoxTittle-Light {
            color: black;
            font-size: 30px;
        }
        .textBoxText-Light {
            color: black;
            font-size: 18px;
            text-align: center;
        }

            .sampleBox-Light {
                background-color: white;
                color: black;
                padding: 2px;
                border: 8px solid rgb(85, 84, 90);
                border-radius: 5em;
                width: 75%;
                text-align: center;
            }

                .numberBox-Light {
                    background-color: rgba(101, 198, 211, 0.555);
                    padding: 5%;
                    margin: 20px auto;
                    border: 5px solid rgb(103, 119, 190);
                    border-radius: 1em;
                    width: 200px;
                    font-size: 60px;
                }